{{!-- linked to goals page --}}

<!-- meditation chart -->
<div class="container">
    <h3 id="meditationGoal"></h3>
    <label for="meditationDate">Log date:</label>
    <input type="date" id="meditationDate" name="trip-start">
    <form>
        <div class="form-row">
            <div class="col">
                <input type="number" name="meditationLog" id="meditationLog" class="form-control"
                    placeholder="Minutes meditated">
                <button class="btn btn-info" id="meditationBtn">Log Meditation Time</button>
            </div>
        </div>
    </form>
    <h3 id="meditationProgress"></h3>
    <canvas id="meditationChart"></canvas>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="/js/meditate.js"></script>