<header class="navbar--border-b">
    <nav class="container navbar pt-4">
        <img class="navbar-brand" src="./images/wellyess-logo.svg" alt="wellyes logo">

        {{!-- Goals Btn --}}
        <button type="button" class="btn home-header__btn" id="addGoalsBtn">Add Goals</button>

        {{!-- Logout Btn --}}
        <button type="button" class="btn home-header__btn mt-3 mt-sm-0" id="logoutBtn">Logout</button>
    </nav>
</header>

<main class="container wrapper">

    {{!-- {{#if isTrackingStudyTime}} --}}
    {{>study}}
    {{!-- {{/if}} --}}

    {{!-- {{#if isTrackingSleep}} --}}
    {{>sleep}}
    {{!-- {{/if}} --}}

    {{!-- {{#if isTrackingHealthyEats}} --}}
    {{>eat}}
    {{!-- {{/if}} --}}

    {{!-- {{#if isTrackingJokes}} --}}
    {{>joke}}
    {{!-- {{/if}} --}}

    {{!-- {{#if isTrackingSocializing}} --}}
    {{>socialize}}
    {{!-- {{/if}} --}}

    {{!-- {{#if isTrackingHugs}} --}}
    {{>hug}}
    {{!-- {{/if}} --}}

    {{!-- {{#if isTrackingDrinkingWater}} --}}
    {{>water}}
    {{!-- {{/if}} --}}

    {{!-- {{#if isTrackingMeditation}} --}}
    {{>meditate}}
    {{!-- {{/if}} --}}

    {{!-- {{#if isTrackingExercise}} --}}
    {{>exercise}}
    {{!-- {{/if}} --}}

    {{!-- {{#if isTrackingHobby}} --}}
    {{>hobby}}
    {{!-- {{/if}} --}}
</main>

{{!-- Footer --}}
<footer>
    Created with 💜by the <strong><a href="https://github.com/jtcravey1991/the-a-team-project-2" target="_blank"
            class="footer__link">A
            Team</a></strong>.
</footer>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>

<!-- Popper -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<!-- Goalsetter JS -->
<script type="text/javascript" src="js/dashboard.js"></script>