<header>
    <nav class="container navbar pt-4">
        <img class="navbar-brand" src="./images/wellyess-logo.svg" alt="wellyes logo">
        <p class="navbar--goals">More to be activated after the beta launch.</p>

    </nav>
</header>

 <main class="container wrapper">

{{>sleep}}

{{>study}}

{{>eat}}

{{>joke}}

{{>socialize}}

{{>hug}}

{{>water}}

{{>meditate}}

{{>exercise}}

{{>hobby}}

 </main>
