<!doctype html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Select a goal or a few to get through school!">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./stylesheets/style.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">

    <title>Goals | wellyes</title>
</head>

<body class="bg--blue">
    <header>
        <nav class="container navbar pt-4">
            <img class="navbar-brand" src="./images/wellyess-logo.svg" alt="wellyes logo">
            <p class="navbar--goals">More goals to be activated after the beta launch.</p>

        </nav>
    </header>

    <main class="container wrapper mb-5">

        <!-- Header -->
        <div class="row mt-0 mt-sm-5 text-center goal__header">
            <div class="col">
                <h1 class="font-weight-bold">Let’s select a goal…</h1>
            </div>
        </div>

        <!-- Goals -->
        <div class="row justify-content-center">
            <form class="col-md-8 d-flex flex-column">

                <!-- Sleep Goal -->
                <div class="row goal mb-4">
                    <div class="col-1 goal--icon d-none d-sm-block">
                        <i class=" fas fa-bed"></i>
                    </div>
                    <div class="col-8 col-sm-7 goal__sentence">
                        <span>I want to sleep for</span><input type="number" class="goal__input" id="sleepGoalVal"
                            placeholder="0"><span>hours a night.</span>
                    </div>
                    <div class="col-2 goal__tooltip">
                        <button type="button" class="btn goal__tooltip__icon" data-toggle="tooltip" data-placement="top"
                            title="Being awake for 16 hours straight decreases your performance as much as if your blood alcohol level were 0.05% (The legal limit is 0.08%.)">
                            <i class="far fa-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-1 col-sm-2 goal__btns">
                        <input type="checkbox" id="sleepCheck" class="plus-minus">
                    </div>
                </div>

                <!-- Study Goal -->
                <div class="row goal mb-4">
                    <div class="col-1 goal--icon d-none d-sm-block">
                        <i class="fas fa-book-open"></i>
                    </div>
                    <div class="col-8 col-sm-7 goal__sentence">
                        <span>I want to study for</span><input type="number" class="goal__input" id="studyGoalVal"
                            placeholder="0"><span>hours a week.</span>
                    </div>
                    <div class="col-2 goal__tooltip">
                        <button type="button" class="btn goal__tooltip__icon" data-toggle="tooltip" data-placement="top"
                            title="Avoid studying in the same place regularly. Changing your study environment while learning helps you retain knowledge effectively.">
                            <i class="far fa-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-1 col-sm-2 goal__btns">
                        <input type="checkbox" id="studyCheck" class="plus-minus">
                    </div>
                </div>

                <!-- Eat Goal -->
                <div class="row goal mb-4">
                    <div class="col-1 goal--icon d-none d-sm-block">
                        <i class="fas fa-apple-alt"></i>
                    </div>
                    <div class="col-8 col-sm-7 goal__sentence">
                        I want to eat
                        <select id="eatGoalVal" class="goal__select">
                            <option value="">choose…</option>
                            <option value="1">not</option>
                            <option value="2">some</option>
                            <option value="3">fairly</option>
                            <option value="4">very</option>
                            <option value="5">all</option>
                        </select>
                        healthy every day.
                    </div>
                    <div class="col-2 goal__tooltip">
                        <button type="button" class="btn goal__tooltip__icon" data-toggle="tooltip" data-placement="top"
                            title="Eating right could protect your memory. Studies have found people who follow healthy diets are less likely to develop dementia and Alzheimer's.">
                            <i class="far fa-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-1 col-sm-2 goal__btns">
                        <input type="checkbox" id="eatCheck" class="plus-minus">
                    </div>
                </div>

                <!-- Drink Goal -->
                <div class="row goal mb-4">
                    <div class="col-1 goal--icon d-none d-sm-block">
                        <i class="fas fa-glass-whiskey"></i>
                    </div>
                    <div class="col-8 col-sm-7 goal__sentence">
                        <span>I want to drink</span><input type="number" class="goal__input" id="drinkGoalVal"
                            placeholder="0"><span>cups of water a day.</span>
                    </div>
                    <div class="col-2 goal__tooltip">
                        <button type="button" class="btn goal__tooltip__icon" data-toggle="tooltip" data-placement="top"
                            title="A simple glass of water can help boost brain function by 14 percent.">
                            <i class="far fa-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-1 col-sm-2 goal__btns">
                        <input type="checkbox" id="waterCheck" class="plus-minus">
                    </div>
                </div>

                <!-- Exercise Goal -->
                <div class="row goal mb-4">
                    <div class="col-1 goal--icon d-none d-sm-block">
                        <i class="fas fa-running"></i>
                    </div>
                    <div class="col-8 col-sm-7 goal__sentence">
                        <span>I want to exercise for</span><input type="number" class="goal__input" id="exerciseGoalVal"
                            placeholder="0"><span>times in a week.</span>
                    </div>
                    <div class="col-2 goal__tooltip">
                        <button type="button" class="btn goal__tooltip__icon" data-toggle="tooltip" data-placement="top"
                            title="Try dividing your exercise into two or three mini-segments of 10 to 15 minutes per day — you will still experience benefits.">
                            <i class="far fa-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-1 col-sm-2 goal__btns">
                        <input type="checkbox" id="exerciseCheck" class="plus-minus">
                    </div>
                </div>

                <!-- Socialize Goal -->
                <div class="row goal mb-4">
                    <div class="col-1 goal--icon d-none d-sm-block">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="col-8 col-sm-7 goal__sentence">
                        I want to socialize
                        <select id="socializeGoalVal">
                            <option value="">choose…</option>
                            <option value="1">none</option>
                            <option value="2">some</option>
                            <option value="3">often</option>
                            <option value="4">a lot</option>
                            <option value="5">all day</option>
                        </select>
                        every day.
                    </div>
                    <div class="col-2 goal__tooltip">
                        <button type="button" class="btn goal__tooltip__icon" data-toggle="tooltip" data-placement="top"
                            title="Socializing gives a sense of purpose and meaning, and is very confidence-boosting!">
                            <i class="far fa-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-2 goal__btns">
                        <input type="checkbox" id="socializeCheck" class="plus-minus">
                    </div>
                </div>

                <!-- Meditate Goal -->
                <div class="row goal mb-4">
                    <div class="col-1 goal--icon d-none d-sm-block">
                        <i class="fas fa-circle"></i>
                    </div>
                    <div class="col-8 col-sm-7 goal__sentence">
                        <span>I want to meditate</span><input type="number" class="goal__input" id="meditateGoalVal"
                            placeholder="0"><span>minutes a day.</span>
                    </div>
                    <div class="col-2 goal__tooltip">
                        <button type="button" class="btn goal__tooltip__icon" data-toggle="tooltip" data-placement="top"
                            title="Thousands of people have overcome addictions using mindful meditation.">
                            <i class="far fa-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-1 col-sm-2 goal__btns">
                        <input type="checkbox" id="meditateCheck" class="plus-minus">
                    </div>
                </div>

                <!-- Jokes Goal -->
                <div class="row goal mb-4">
                    <div class="col-1 goal--icon d-none d-sm-block">
                        <i class="fas fa-grin-squint"></i>
                    </div>
                    <div class="col-8 col-sm-7 goal__sentence">
                        <span>I want to tell</span><input type="number" class="goal__input" id="jokesGoalVal"
                            placeholder="0"><span>jokes a day.</span>
                    </div>
                    <div class="col-2 goal__tooltip">
                        <button type="button" class="btn goal__tooltip__icon" data-toggle="tooltip" data-placement="top"
                            title="Laughter triggers the release of endorphins, the body’s natural feel-good chemicals. Endorphins promote an overall sense of well-being and can even temporarily relieve pain.">
                            <i class="far fa-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-1 col-sm-2 goal__btns">
                        <input type="checkbox" id="jokesCheck" class="plus-minus">
                    </div>
                </div>

                <!-- Hugs Goal -->
                <div class="row goal mb-4">
                    <div class="col-1 goal--icon d-none d-sm-block">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="col-8 col-sm-7 goal__sentence">
                        <span>I want to give</span><input type="number" class="goal__input" id="hugsGoalVal"
                            placeholder="0"><span>hugs a day.</span>
                    </div>
                    <div class="col-2 goal__tooltip">
                        <button type="button" class="btn goal__tooltip__icon" data-toggle="tooltip" data-placement="top"
                            title="Hugging reduces social anxiety. Hugs release oxytocin which inspires positive thinking and helps you have an optimistic outlook on the world.">
                            <i class="far fa-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-1 col-sm-2 goal__btns">
                        <input type="checkbox" id="hugCheck" class="plus-minus">
                    </div>
                </div>

                <!-- Hobbies Goal -->
                <div class="row goal mb-4">
                    <div class="col-1 goal--icon d-none d-sm-block">
                        <i class="fas fa-hammer"></i>
                    </div>
                    <div class="col-8 col-sm-7 goal__sentence">
                        <span>I want to spend</span><input type="number" class="goal__input" id="hobbiesGoalVal"
                            placeholder="0"><span>hours on hobbies this week.</span>
                    </div>
                    <div class="col-2 goal__tooltip">
                        <button type="button" class="btn goal__tooltip__icon" data-toggle="tooltip" data-placement="top"
                            title="Hobbies help to relieve stress by keeping you engaged in something you enjoy. Hobbies give you a way to take your mind off the stresses of everyday life.">
                            <i class="far fa-question-circle"></i>
                        </button>
                    </div>
                    <div class="col-1 col-sm-2 goal__btns">
                        <input type="checkbox" id="hobbyCheck" class="plus-minus">
                    </div>
                </div>

                {{!-- Add a "Create Goals" Button Here --}}
                <button type="button" class="btn goals__create-btn" id="createGoalsBtn">Create Goal(s)</button>

            </form>


            {{!-- Pins Footer To Bottom Of Page --}}
            <div class="push"></div>
        </div>
    </main>

    {{!-- Footer --}}
    <footer>
        Created with 💜by the <strong><a href="https://github.com/jtcravey1991/the-a-team-project-2" target="_blank"
                class="footer__link">A
                Team</a></strong>.
    </footer>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <!-- Goalsetter JS -->
    <script type="text/javascript" src="js/goalSetter.js"></script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>

</html>